*{
  font-family:sans-serif;
  background-color: #1364;
}
nav{
  padding: 15px;
  background-color: #52142345;
  overflow: hidden;
  width: 100%;
  font-style: 16px;
  text-align: right;


}
nav a{
  text-decoration: none;
  font-size: 18px;
  color: white;
  padding: inherit;
}
nav a:hover{
  backface-visibility: visible;
  background-color: rgba(120,41,87,0.6);
  
}
